.display-attempts {
  margin-top: 20px;
  text-align: center;
}

.instructions {
  margin: 20px 0px 20px 0px;
}

.input {
  display: flex;
  margin-bottom: 20px;
}

.display-results {
  margin-top: 20px;
}
